# --- Fichiers sensibles ---
apikey.env
.env

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# --- Virtual env ---
venv/
.env/
.venv/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Logs & temp ---
*.log
*.tmp

# --- PDF générés ---
*.pdf
